/*
================= Colors: =================
main back: #666;
darker : #404041;

*/

.clear {
  clear: both;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

header {
  font-family: 'Orbitron', arial, sans-serif;
  background-color: #666;
  padding-bottom: 5px;
  text-align: center;
  box-shadow: 0 2px 2px grey;
}

svg {
  width: 50%;
  height: 10%;
}

h1 {
  border-bottom: solid 4px #404041;
  border-radius: 5px;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  color: #3FA9F5;
  width: 90%;
}

a {
  text-decoration: none;
  color: #3FA9F5;
}

.nav-container {
  list-style: none;
  padding: 0;
}

.nav-container li {
  padding: 5px 0;
  margin: 10px 0;
  background-color: #404041;
  border-radius: 5px;
}

h2 {
  font-family: 'Orbitron', arial, sans-serif;
  color: #404041;
  padding: 20px;
  margin: 50px 0;
  border-bottom: solid 2px #3FA9F5;
}

article {
  background-color: #F2F2F2;
  padding: 5px;
  border: 2px solid #3FA9F5;
  margin: 20px 0;

}

article h3 {
  font-family: 'Orbitron', arial, sans-serif;
  color: #404041;
}

article p {
  font-size: 1.1em;
}

footer {
  margin-top: 50px;
  border-top: solid 2px #404041;
}

@media screen and (min-width: 850px) {
  header {
    text-align: left;
    position: relative;
  }

  svg {
    position: relative;
    top: 10px;
    left: 0px;
    width: 100px;
    height: 100px;
  }

  h1 {
    position: absolute;
    text-align: center;
    top: 30px;
    left: 130px;
    width: 370px;
  }

  .nav-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 30px;
    right: 70px;
  }

  .nav-container li {
    display: inline-block;
    margin: 10px;
    padding: 5px 40px;
    border-radius: 10px;
  }

  h2 {
    padding: 0 10px 20px;
    margin: 30px auto 100px;
    width: 40%;
    font-size: 2.25em;
  }

  #flex {
    display: flex;
    justify-content: space-around;
  }

  article {
    border: 5px solid #3FA9F5;
    width: 25%;
    font-size: 1.25em;
    box-shadow: 1px 1px 3px black;
  }

  .learn {
    margin-top: 40px;
  }

  footer {
    border: none;
  }

  .flex-wrapper {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  }

  #about-container img {
    margin-left: 10%;
    float: left;
  }

  /* h2 {
    text-align: center;
  } */

  .bio-container {
    border: none;
    width: 50%;
    margin-top: 7%;
    margin-left: 30%;
    padding: 30px;
    text-align: center;
  }

  .bio-container p {
    padding: 10px;
  }

  .contact-container {
    width: 30%;
  }

}

@media screen and (min-width: 900px) and (max-width: 1700px) {
  .bio-container {
    margin-left: 45%;
  }
}
